{% extends 'base.html' %}

{% block content %}

	<section>
		<div class="container flex">
			<div class="weather-box flex">
				<div class="card flex">
					<h2>Check the Weather Forecast now</h2>
					<p>Should I get going to work in the next couple of hours?-
					or do i carry an umbrella?
					</p>
				</div>
				<div class="weather-form">
					<form class="flex">
						<input type="text" name="location" placeholder="Enter a town, city or state">
						<button class="btn">Fetch</button>
					</form>
					<div class="result-box">
						<h1>The Results</h1>
						<ul>
							<li>Location: Dummy</li>
							<li>Time: Dummy</li>
							<li>Weather: Dummy</li>
							<li>Description: Dummy</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}