{% extends 'base.html' %}

{% block content %}

	<section>
		<div class="container flex">
			<div class="weather-box flex">
				<div class="card flex">
					<h2>Check the Weather Forecast now</h2>
					<p>Should I get going to work in the next couple of hours?-
					or do i carry an umbrella?
					</p>
				</div>
				<div class="weather-form">
					<form class="flex" action="" method="post">
						{% csrf_token %}
						<input type="text" name="location" placeholder="Enter a town, city or state">
						<button class="btn">Fetch</button>
					</form>
					<div class="result-box">
						<h1>The Results</h1>
						<ul>
							{% if location %}
							<li>Location: <span class="result">{{location}}, {{country}}</span>.</li>
							{% else %}
							<li>Location: <span  class="result">{{location}} {{country}}</span></li>
							{% endif %}
							<li>Region: <span class="result">{{region}}</span></li>
							<li>Time: <span class="result">{{time}}</span></li>
							<li>Weather: <span class="result">{{condition}}</span></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}